<h1>Edit Diary employee</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.diary_employee_path(@conn, :update, @diary_employee)) %>

<span><%= link "Back", to: Routes.diary_employee_path(@conn, :index) %></span>
