<h1>New Diary employee</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.diary_employee_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.diary_employee_path(@conn, :index) %></span>
